Build/*
bin
!Build/build_debug.bat
!Build/build_release.bat
!Build/CMakeLists.txt
!Build/gen_make_debug.sh
!Build/gen_make_release.sh
!Build/gen_vs_proj.bat
!Build/rebuild_debug.sh
!Build/rebuild_release.sh